In [1]:
print("heloo")

heloo

In [3]:
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

SyntaxError: invalid decimal literal (840434349.py, line 1)

In [4]:
import requests
import shutil

url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
output_file = "green_tripdata_2019-09.csv.gz"

response = requests.get(url, stream=True)
with open(output_file, 'wb') as file:
    shutil.copyfileobj(response.raw, file)

# Optionally, you can check if the file is downloaded successfully
if response.status_code == 200:
    print("File downloaded successfully.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

File downloaded successfully.

In [5]:
import requests
import shutil

url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
output_file = "taxi+_zone_lookup.csv"

response = requests.get(url, stream=True)
with open(output_file, 'wb') as file:
    shutil.copyfileobj(response.raw, file)

# Optionally, you can check if the file is downloaded successfully
if response.status_code == 200:
    print("File downloaded successfully.")
else:
    print(f"Failed to download the file. Status code: {response.status_code}")

File downloaded successfully.

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

# Replace with your database name and credentials
db_name = 'zoomcamp'
db_user = 'postgres'
db_password = 'HEND'
db_host = 'localhost'
db_port = '5432'

# Connect to PostgreSQL
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

try:
    # Try to connect and create the database
    engine.connect()
except OperationalError as e:
    # If the database doesn't exist, create it
    if "does not exist" in str(e):
        print(f"Database '{db_name}' does not exist. Creating it...")
        connection = psycopg2.connect(
            dbname='postgres',
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port
        )
        connection.autocommit = True
        cursor = connection.cursor()
        cursor.execute(f'CREATE DATABASE {db_name}')
        cursor.close()
        connection.close()
        print(f"Database '{db_name}' created successfully.")
    else:
        # If it's a different OperationalError, print the error
        raise

# Load Green Taxi data

In [3]:
green_taxi_data = pd.read_csv('green_tripdata_2019-09.csv.gz',low_memory=False)
green_taxi_data.to_sql('green_taxi_trips', engine, index=False, if_exists='replace')

63

In [4]:
# Load Taxi Zone Lookup data
taxi_zone_data = pd.read_csv('taxi+_zone_lookup.csv')
taxi_zone_data.to_sql('taxi_zone_lookup', engine, index=False, if_exists='replace')

265

In [5]:
print (taxi_zone_data)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [6]:
print (green_taxi_data)

        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0            2.0  2019-09-01 00:10:53   2019-09-01 00:23:46
1            2.0  2019-09-01 00:31:22   2019-09-01 00:44:37
2            2.0  2019-09-01 00:50:24   2019-09-01 01:03:20
3            2.0  2019-09-01 00:27:06   2019-09-01 00:33:22
4            2.0  2019-09-01 00:43:23   2019-09-01 00:59:54
...          ...                  ...                   ...
449058       NaN  2019-09-30 23:13:00   2019-09-30 23:41:00
449059       NaN  2019-09-30 23:26:00   2019-09-30 23:46:00
449060       NaN  2019-09-30 23:15:00   2019-09-30 23:43:00
449061       NaN  2019-09-30 23:19:00   2019-10-01 00:06:00
449062       NaN  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N         1.0            65           189
1                       N         1.0            97           225
2                       N         1.0            37            61
3                       N         1.0           145           112
4                       N         1.0           112           198
...                   ...         ...           ...           ...
449058                NaN         NaN            66            71
449059                NaN         NaN            55            26
449060                NaN         NaN           139            78
449061                NaN         NaN           242           188
449062                NaN         NaN           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                   5.0           2.00        10.50   0.50      0.5
1                   5.0           3.20        12.00   0.50      0.5
2                   5.0           2.99        12.00   0.50      0.5
3                   1.0           1.73         7.50   0.50      0.5
4                   1.0           3.42        14.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449058              NaN           7.84        43.25   2.75      0.5
449059              NaN           3.56        25.75   2.75      0.5
449060              NaN          18.47        50.47   2.75      0.5
449061              NaN          20.10        58.22   2.75      0.5
449062              NaN           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             0.00          0.00        NaN                    0.3
3             1.50          0.00        NaN                    0.3
4             3.06          0.00        NaN                    0.3
...            ...           ...        ...                    ...
449058        0.00          0.00        NaN                    0.0
449059        0.00          0.00        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          6.12        NaN                    0.0
449062        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16           1.0        1.0                   0.0
1              13.30           2.0        1.0                   0.0
2              13.30           2.0        1.0                   0.0
3              10.30           1.0        1.0                   0.0
4              18.36           1.0        1.0                   0.0
...              ...           ...        ...                   ...
449058         46.50           NaN        NaN                   NaN
449059         29.00           NaN        NaN                   NaN
449060         59.84           NaN        NaN                   NaN
449061         67.59           NaN        NaN                   NaN
449062         29.32           NaN        NaN                   NaN

[449063 rows x 20 columns]